@viewport {
  max-zoom: 1.5;
}

body {
  font-family: 'Crete Round', 'Times New Roman', serif;
  max-zoom: 150%;
  width: 100%;
  padding: 0;
  margin-bottom: 0;
  margin-right: 0;
  margin-left: 0;
  
}

.container {

  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 0;
  overflow-y: hidden;
  padding: 0;
  margin-bottom: 0;
  background-color: whitesmoke;
}

h1, h2, h3, tr, td, li, ul, ol {
  Font-family: 'Vollkorn', 'Times New Roman', serif;
  font-size: 24px;
  font-weight: bold;
  word-spacing: 0em;
  color: black;
  vertical-align: middle;
  text-align: center;
}

#sideBarL {
  height: 100%;
  width: 15%;
  background-image: url('images/html/fields.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: black;
  position: fixed;
  z-index: 1;
  top: 36px;
  padding-top: 100px;
  left: 0;
  overflow-x: hidden;
  display: block;
  font-size: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#sideBarL a {
  display: block;
  color: black;
  padding: 10px;
  line-height: 50px;
  text-decoration: none;
}

#sideBarL a:hover {
  text-decoration: underline;
}

p {
  color: black;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  text-align: justify;
  text-indent: 7%;
  margin-left: 10%;
  margin-right: 10%;
  line-height: 30px;
}

blockquote {
  color: black;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  text-align: justify;
  text-indent: 7%;
  margin-left: 15%;
  margin-right: 15%;
  line-height: 30px;
}
ul {
  word-spacing: 6em;
  line-height: 36px;
  box-shadow: black;
  margin-left: 0%;
  margin-right: 0%;
  margin-top: 0;
  padding-top: 8px;
  position: fixed;
  z-index: 1;
    
}

.menuBar {
  background-color: #02688b;
  color: black;
  right: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.menuBar li {
  display: inline-block;
  color: black;
  font-size: 24px;
  text-align: center;
  width: (100/6);
  text-decoration: none;
}

.menuBar li a {
  text-decoration: none;
}

.dropbtn {
  background-color: #02688b;
  color: white;
  padding: 0;
  border-radius: 5%;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
  z-index: 2;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #02698bb7;
  min-width: 160px;
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 2;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-radius: 5%;
  z-index: 2;
}

.dropdown-content a:hover {
    background-color: #ddd;
  }

.dropdown:hover .dropdown-content {
    display: block;
    z-index: 2;
  }

.dropdown:hover, .dropdown:focus .dropbtn {
    background-color: #02688b;
  }


a:visited {
  color: rgb(51, 0, 109);
}

a:hover {
  text-decoration: underline;
  background-color: #000f1463;
  padding: 2px;
}

.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  background: #bf1722;
  color: white;
  padding: 8px;
  z-index: 100;
}

.skip-link:focus {
  top: 0;
}
h1 {
  font-size: 48px;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 12px;
}

.newSlides {
  display: block;
  border-radius: 10%;
  border-color: black;
  border-style: groove;
  border-width: 12px;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  height: 650px;
  padding: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

hr {
  line-height: 3px;
}

#floatL img {
  
  float: left;
  width: 140px;
  height: 184.5px;
  margin-top: 1%;
  margin-left: 10%;
  margin-right: 1%;
}

#floatR {
  padding-top: 35px;
}
#floatR img {
  float: right;
  width: 18%;
  margin-top: 1%;
  margin-right: 10%;
  margin-left: 1%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: solid;
  border-radius: 10%;
  border-color: gold;
  border-style: groove;
}

.slideShow {
  position: relative;
  border: solid;
  border-color: #02688b;
  width: 80%;
  border-width: 12px;
  padding-top: .25%;
  padding-bottom: 12%;
  background-color: black;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 1;
}

.theSlides {
  display: none;
}

.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 42%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* next button */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* Hover background 80% opacity */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.theSlides img {
  width: 100%;
}
/* slide number */
.slideNo {
  color: #f2f2f2;
  font-size: 16px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
#caption {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: lightgrey;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 16.12%;
  margin-left: auto;
  margin-right: auto;
  padding-left: .25%;
  padding-right: .25%;
  padding-bottom: 4em;
}

.column img {
  width: 100%;
}

/* thumbnail opacity 60% */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

figcaption {
  display: block;
  font-size: 24px;
  font-weight: bolder;
  color: red;
  text-align: center;
  letter-spacing: 2px;
  Margin-left: Auto;
  margin-right: Auto;
  width: 100%;    
}

div.photo img {
  display: block;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  border-radius: 10%;
  border-width: 16px;
  border-style: groove;
  border-color:rgb(26, 9, 9);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.figpho {
text-transform: uppercase;
}

#wFloatL img {
  float: left;
  width: 15%;
  border-radius: 30%;
  margin-top: 1%;
  margin-left: 10%;
  margin-right: 1%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: solid;
  border-color: lightgrey;
  border-style: groove;

}

#sideBarR {
  height: 100%;
  width: 15%;
  background-image: url('images/html/sunfield.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: fixed;
  z-index: 1;
  top: 36px;
  right: 0;
  overflow-x: hidden;
  display: block;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#topReturn {
  font-size: 12px;
  color: #02688b;
  font-weight: bold;
  text-decoration: none;
  padding-top: 25px;
}

#topReturn a {
  text-decoration: none;
}

#CollegeDays {
  padding-top: 35px;
}

#famLife {
  padding-top: 45px;
}

#prof {
  padding-top: 70px;
}

#sideBarR p {
  position: absolute;
  bottom: 15px;
  text-align: center;
  padding-bottom: 2%;
  vertical-align: baseline;
  color: #02688b;
}
